[Unit]
Description=CheckMK Job01 Weekly Backup Timer
Requires=checkmk-backup-job01.service

[Timer]
# TEST MODE: Every minute (restore to Sunday 04:00 for production)
OnCalendar=*-*-* *:*:00
Persistent=true
# RandomizedDelaySec=300

[Install]
WantedBy=timers.target
